body
{
	margin: 150px; 
/*	background: #e5f04c url(../img/All_the_things-transp-bkgr.png) 0 0 repeat fixed;*/
	
}

article
{
	margin: 40px 0;
}

h1
{
	
}

.dl
{
	margin: 40px 0 0 0;
	font-size: 40px;
}

.reference
{
	margin-top: 100px;
	font-size: 0.8em;
}
 input
 {
 	margin: 20px 0;
 	width: 400px;

 }
