extends layout

block content

	div.jumbotron
		div.container
			h1= title
			p This is awesome
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum nisl mi, a hendrerit urna tristique sed. Vestibulum tempor facilisis nibh, non faucibus diam varius in. Sed varius felis et leo dignissim scelerisque. Nulla facilisi. Maecenas luctus mollis risus nec euismod. Pellentesque bibendum leo eget dolor pharetra pulvinar. Nullam sit amet adipiscing est. Nunc sollicitudin sagittis nisi, eu laoreet est bibendum eu.
